@import "normalize-min";
@import 'compass/css3';
@import "compass/typography/links/link-colors";

/*! screen styles */

$base-color: #7b9f55;

body {
	background: $base-color url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABBQAAAABCAMAAABZlQ2VAAAAPFBMVEX///97nlV6nlR4m1Ntjkx3mlJ0llBsjEtxk052mFF6nVRylE9uj0xzlVB5nFN3mVJwkU51mFFvkE15nVR32EdXAAAANklEQVR4Xu3AhRHAMAwDwMgYxv137R49fwKI6pvMusqx0fK+XTz9XgjBpd+d27BTljLPV4mADyRWAYnwarVUAAAAAElFTkSuQmCC) repeat-y center;
	color: #444;
}

a {
	@include link-colors($base-color);
}

.wrapper {
	margin: 0 auto;
	overflow: hidden;
	width: 960px;
}

fieldset {
	border: none;
	padding: 0;
}

legend {
	font-weight: bold;
	margin: 0 -.5em;
	padding: 0 .5em;
}

.standalone {
	background: #eee;
	@include background(linear-gradient( white, #eee ));
	@include border-radius(1em);
	border-top: 1px solid rgba(black, .25);
	margin: 2em auto;
	padding: 2em; 
	width: 33%;
	
	legend {
		background: white;
	}
	
	input, select, textarea {
		@include box-sizing(border-box);
		width: 100%;
	}
	
	input[type=submit] {
		float: right;
		width: auto;
	}
	
	.field.submit {
		margin-top: 1em;
		overflow: hidden;
	}
}

.field {
	display: block;
	
	& + .field {
		margin-top: 1em;
	}
}

.label-text {
	display: block;
	font-size: small;
	line-height: 1.5;
}

button,
input[type=submit] {
	background: $base-color;
	@include background-image(linear-gradient( lighten($base-color, 10%), darken($base-color, 10%) ));
	border: 1px solid darken($base-color, 15%);
	@include border-radius(.4em);
	@include box-shadow(inset 0 0 1px white, 0 1px 2px -1px black);
	color: white;
	display: inline-block;
	font-size: small;
	font-weight: bold;
	padding: .5em 1em;
	text-shadow: 0 -1px 0 black;
	text-transform: uppercase;
	
	&:hover,
	&:focus {
		@include background-image(linear-gradient( lighten($base-color, 20%), $base-color ));		
	}
	
	&:active {
		@include background-image(linear-gradient( $base-color, darken($base-color, 20%) ));	
	}
}

textarea {
	height: 3.5em;
}

.avatar {
	background: #666;
	border: 1px solid white;
	outline: 1px solid #999;
}

.live-chat {
	header {
		background: white;
		height: 100px;
		margin: 0 auto;
		overflow: hidden;
		position: fixed;
		top: 0;
		width: 960px;

		h1 {
			float: left;
		}

		form {
			float: right;
		}

		.avatar {
			height: 1em;
			vertical-align: -.2em;
			width: 1em;
		}

		a {
			text-decoration: none;
			
			span {
				text-decoration: underline;
			}
		}	
	}
	
	.conversation {
		margin: 100px auto;
	}
	
	footer {
		background: white;
		bottom: 0;
		height: 100px;
		margin: 0 auto;
		position: fixed;
		width: 960px;
	}	
}

@-webkit-keyframes newMessage {
	from {
		opacity: 0;
		-webkit-transform: scale3d(.9, .9, .9) translate3d(0, 1em, 0);
	}
	
	to {
		opacity: 1;
		-webkit-transform: none;
	}
}

.conversation {
	margin: 0 auto;
	width: 30em;

	.message {
		border-top: 1px solid #ddd;
		line-height: 1.3;
		overflow: hidden;
		padding: 1em;
		
		-webkit-animation-name: newMessage;
		-webkit-animation-duration: 250ms;
		-webkit-animation-fill-mode: forwards;
		-webkit-animation-timing-function: ease-in-out;
	}
	
	.incoming {
		background: #eee;

		.avatar {
			float: left;
			margin-right: .5em;
		}
	}
	
	.outgoing {
		background: #f5f5f5;

		text-align: right;

		.avatar {
			float: right;
			margin-left: .5em;
		}
	}
	
	.content {
		overflow: hidden;
	}
	
	time {
		color: #999;
		display: block;
		font-size: x-small;
		text-transform: uppercase;
	}
}

.chat-monitor {
	.conversation {
		float: left;
		margin-left: 1em;
	}
}

.student-list {
	float: left;
	margin: 0;
	padding: 0;
	width: 15em;
	
	li {
		background: #f5f5f5;
		border-top: 1px solid #ddd;
		cursor: pointer;
		display: block;
		padding: .25em 1em;
		
		&:nth-child(odd) {
			background: #eee;
		}
		
		&:hover {
			background: white;
		}
		
		&.selected {
			background: #666;
			color: white;
			font-weight: bold;
		}
	}
}

.view-profile {

	.profile-photo {
		display: block;
		max-width: 100%;
	}

	.details {
		background: #eee;
		@include background-image(linear-gradient(#eee, white));
		@include box-sizing(border-box);
		float: left;
		padding: 2em;
		width: 38%;
	}
	
	dl {
		display: table;
		width: 100%;
	}
	
	.dli {
		display: table-row;
		
		&:first-child {
			dt, dd {
				border-top: none;
			}
		}
	}
	
	dt, dd {
		border-top: 1px solid rgba(black, .1);
		display: table-cell;
		padding: .5em 0;
	}
	
	dt {
		font-weight: bold;
		padding-right: .5em;
	}
	
	.notebook {
		@include box-sizing(border-box);
		float: left;
		padding: 2em;
		width: 62%;
		
		.new-post {
			float: right;
		}
		
		h2 {
			margin-top: 0;
		}
		
		article {
			border-bottom: 1px solid rgba(black, .1);
			padding-bottom: 1em;
			
			&:last-child {
				border: none;
				padding-bottom: 0;
			}
			
			footer {
				color: #999;
				font-size: small;
				text-transform: uppercase;
			}
		}
	}
	
	.interests {
		margin: 0;
		padding: 0;
		
		li {
			display: inline;
			
			&:before {
				content: '· '
			}
			
			&:first-child:before {
				content: '';
			}
		}
	}
}

.edit-profile {
	.column {
		@include box-sizing(border-box);
		float: left;
		margin-bottom: 1em;
		overflow: hidden;
		padding: 1em;
		width: 33%;
		
		input, select, textarea {
			@include box-sizing(border-box);
			width: 100%;
		}
	}
	
	.submit {
		clear: both;
		text-align: right;
	}
	
	.interests {
		
	}
}